@{
    ViewBag.Title = "Tech Press";
}

<div class="jumbotron">
    <h1>Tech Press</h1>
    <p class="lead">Tech Press is an online tech bookstore.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
     Content Area
    </div>
</div>